
.section-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.section-cart__delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
}


.take {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1.5rem;
  height: 45px;
  border-radius: 10px;
  background: #f58068c9;
  box-shadow: -4px 6px 16px 0px rgba(109, 8, 8, 0.1),
    -16px 24px 28px 0px rgba(109, 8, 8, 0.09),
    -35px 53px 38px 0px rgba(109, 8, 8, 0.05),
    -63px 94px 45px 0px rgba(109, 8, 8, 0.01),
    -99px 147px 50px 0px rgba(109, 8, 8, 0);
  border: solid 1px rgba(245, 245, 245, 0.486);

  & svg {
    fill: #1f2937;
    width: 1.5rem;
    height: 1.5rem;
  }

  & .text {
    font-family: "Montserrat Alternates", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.clear_cart_icon {
  width: 50px;
  height: 50px;
  color: #1f2937;
  border: transparent;
  background: transparent;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.clear_cart_icon:hover {
  scale: 110%;

}
